body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header header"
    ". photoGrid photoGrid photoGrid ."
    ". photoGrid photoGrid photoGrid ."
    ". photoGrid photoGrid photoGrid .";
}
#photoContainer img {
  display: block;
  height: 255px;
  width: auto;
}
#bioContainer img {
  border-radius: 50%;
}

#photoContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.photoGrid {
  grid-area: photoGrid;
}
.header {
  grid-area: header;
}
