body {
  font-family: "Cormorant Garamond", sans-serif;
  height: 100vh;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 0px 0px;
  grid-template-areas:
    /* "header header header header header" */
    /* ". . . . ." */
    ". photoGrid photoGrid photoGrid ."
    ". photoGrid photoGrid photoGrid ."
    ". photoGrid photoGrid photoGrid .";
}
#photoContainer img {
  display: block;
  height: 250px;
  width: auto;
}
#bioContainer img {
  border-radius: 50%;
}
#bioContainer {
  padding: 20px;
}
div.search {
  grid-row: 2;
  grid-column: 5, 6;
}

/* .row {
  transition: 0.3s ease-in-out;
}
.row:hover {
  transform: scale(1.1);
  filter: brightness(50%);
} */
div.search input[type="text"] {
  border: none;
  background-color: #fafafa;
  border-bottom: 2px solid black;
  user-select: none;
  font-size: 30px;
  transition: opacity 0.7s ease-in-out;
  opacity: 0.5;
  width: 100%;
  padding-top: 20px;
}
div.search input[type="text"]:hover {
  opacity: 1;
}
div.searchcenter {
  grid-row: 2;
  grid-column: 3;
}
div.searchcenter input[type="text"] {
  border: none;
  background-color: #fafafa;
  border-bottom: 2px solid #659dbd;
  user-select: none;
  font-size: 30px;
  width: 100%;
}
.submit-button {
  height: 270px;
  opacity: 1;
  padding-top: 20px;
  transition: opacity 0.7s ease-in-out;
  position: relative;
  left: -1000px;
}

.add-button {
  height: 270px;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}
.add-button:hover {
  opacity: 0.8;
}
.submit-button:hover {
  opacity: 0.8;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#photoContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  padding-bottom: 30px;
  margin-left: 248px;
}

.photoGrid {
  grid-area: photoGrid;
}
.header {
  grid-area: header;
}

.container {
  position: relative;
  width: 100%;

  max-width: 300px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 85%;
  height: 85%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}
.container:hover .overlay {
  opacity: 1;
}
.addpopup {
  width: 100%;
  position: absolute;
  top: 115%;
  height: 120px;
  left: -0.5px;
  background-color: black;
  backdrop-filter: blur(3px);
  opacity: 0;
  text-align: center;
}
.addpopup input[type="text"] {
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  user-select: none;
  font-size: 30px;
  transition: opacity 0.7s ease-in-out;

  padding-top: 20px;
  color: white;
}
.add-button {
  opacity: 1;
  position: absolute;
  left: -300px;
}
